.main {

  .banner {
    background-color: #3498db;

    .container {
      display: flex;
      height: 80vh;

      .banner-explanation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        color: #ffffff;

        h1 {
          text-transform: capitalize;
          font-weight: 500;
          font-size: 38px;
          margin-bottom: 15px;
        }

        p {
          font-weight: 100;
          font-size: 18px;
          line-height: 1.6;
          margin-bottom: 30px;
        }

        a {
          width: 164px;
          letter-spacing: 2px;
        }
      }

      .banner-img {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .sponsor {
    background-color: #f6f7f8;

    .container {
      padding: 30px;

      .sponsor-logo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-height: 70px;
          margin: 0 23px;
          transition: 0.3s;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .amazing-features {
    padding: 90px 0 50px;

    .amazing-features-main {

      .container {
        text-align: center;


        .amazing-features-head {
          color: #2f362f;
        }

        .amazing-features-text {
          color: #7c8595;

        }

      }
    }

    .amazing-features-sub {

      .container {
        margin-top: 30px;
        display: flex;
        text-align: center;
        color: #2f362f;

        .fully-customizable {
          padding: 0 15px;
          margin: 30px 0;
        }

        .responsive-design {
          padding: 0 15px;
          margin: 30px 0;
        }

        .seo-ready-code {
          padding: 0 15px;
          margin: 30px 0;
        }

        .afs-wrap {
          display: flex;
          text-align: center;
          flex-wrap: wrap;

          .afs {
            width: 33.33%;

            img {
              -webkit-border-radius: 0;
              -moz-border-radius: 0;
              border-radius: 0;
            }
          }
        }

        img {
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
        }

        .amazing-features-sub-title {
          font-size: 20px;
          margin: 20px 0 10px;
          font-weight: 500;
          text-transform: capitalize;

          .seo {
            text-transform: uppercase;
          }
        }

        .amazing-features-sub-text {
          font-size: 15px;
          margin: 0 0 15px;
          padding: 0 10px;
          line-height: 1.4;
          color: #7c8595;
        }
      }
    }
  }

  .video {
    .video-main {
      background-color: #f6f7f8;
      padding: 90px 0 90px 0;

      .container {
        display: flex;

        .video-play {
          width: 50%;

        }

        .video-text {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0 0 0 14px;
          color: #656565;

          p {
            padding: 14px 20px;
            font-weight: 500;
            border-bottom: 1px solid rgba(#656565, 0.2);
            cursor: pointer;
            transition: 0.3s;

            &:hover {
              background-color: #eeeeee;
            }
          }

          i {
            font-size: 20px;
          }
        }
      }
    }
  }

  .latest-projects {
    background-color: #393f43;
    padding: 90px 0 50px 0;

    .latest-projects-main {
      .container {
        text-align: center;

        .latest-projects-head {
          color: #DDDDDD;
        }

        .latest-projects-text {
          color: #BBBBBB;
        }
      }
    }

    .latest-projects-sub {
      .container {
        display: flex;
        justify-content: center;
        align-items: center;

        .item {
          padding: 0 15px;
          margin-top: 30px;

          .thumb {
            position: relative;

            &:hover {
              .item-hover {
                opacity: 1;
              }
            }

            .item-hover {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: rgba(0, 0, 0, 0.6);
              opacity: 0;
              transition: 0.3s;
              cursor: pointer;

              i {
                font-size: 40px;
                color: #ffffff;
              }
            }
          }


          img {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }

          .item-text {
            background-color: #fff;
            text-align: center;
            font-weight: 500;
            margin: 0 0 20px;
            padding: 1px 20px 12px;
            border-bottom: 3px solid #e0e0e0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            a {
              display: inline-block;
              font-size: 18px;
              color: #454545;
              margin: 10px 0 1px;
            }

            p {
              margin: 10px 0 5px;
              color: #7c8595;
              font-style: oblique;
            }
          }
        }
      }
    }
  }

  .statistic-main {
    background-color: #2f3539;
    padding: 25px 0 30px 0;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      .icon {
        padding: 15px 15px 0 15px;
        width: 220px;

        i {
          font-size: 45px;
          color: #3498db;
          margin: 0 0 10px;
        }

        .statistic {
          font-size: 28px;
          color: #dddddd;
          font-weight: 500;
          margin: 0 0 10px;
        }

        .statistic-name {
          font-size: 15px;
          color: #bbbbbb;
          text-transform: capitalize;
          font-style: italic;
          font-weight: 500;
          margin: 0 0 15px;
        }
      }
    }
  }

  .happy-clients-testimonials {
    padding: 90px 0;
    background-color: #3498db;

    .happy-clients-testimonials-main {
      .container {
        text-align: center;
        color: #ffffff;
      }
    }

    .happy-clients-testimonials-sub {

      .container {
        display: flex;

        .ceo-box {
          width: 33.33%;
          padding: 10px 15px 30px;
        }

        .speech-bubble {
          line-height: 26px;
          padding: 30px;
          background-color: #fff;
          color: #7c8595;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          position: relative;

          span {
            background-color: #fff;
            display: block;
            width: 12px;
            height: 12px;
            left: 65px;
            bottom: -6px;
            position: absolute;
            transform: rotate(45deg);
          }
        }

        .people-icon-box {
          display: flex;

          .people-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;

            p {
              font-weight: 500;

              span {
                display: inline-block;
                margin-top: 5px;
                font-weight: 100;
              }
            }

            img {
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              background-color: #fff;
              padding: 4px;
              margin: 15px 15px 0 25px;
            }
          }
        }
      }
    }
  }
}

