.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #fff;
  height: 53px;
  font-size: 13px;
  font-weight: 500;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.read-more {
  transition: 0.3s;

  &:hover {
    background-color: rgb(102, 102, 102);
    border-color: rgb(102, 102, 102)
  }
}