.header {

  .top-header {
    background-color: #343434;

    .container {
      display: flex;
      justify-content: space-between;
    }

    .sns-links {
      display: flex;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 12px 12px 12px;
        font-size: 17px;
        border-right: 1px solid #494949;
        color: #e4f1fe;
        transition: 0.3s;

        &:hover {
          color: #fff;

          &.twitter {
            background-color: #43bcff;
          }

          &.google {
            background-color: #ff3636;
          }

          &.facebook {
            background-color: #2b4fff;
          }

          &.instagram {
            background-color: #7d2cff;
          }

          &.skype {
            background-color: #30c6d2;
          }
        }
      }
    }

    .consulting {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #dedede;

      i {
        margin-left: 20px;
        font-size: 25px;
        margin-right: 5px;
      }

      p {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }

  .bottom-header {
    .container {
      display: flex;
      justify-content: space-between;

      .logo {
        padding: 20px 0;
        font-size: 28px;

        img {
          max-height: 45px;
        }
      }

      ul {
        display: flex;
        justify-content: center;
        align-items: center;

        .pages {
          position: relative;

          &:hover {
            .pages-dropdown {
              display: block;
            }
          }

          .category {
            -webkit-border-radius: 0 0 5px 5px;
            -moz-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;
            background-color: #ffffff;
            display: flex;
            width: 30vw;
            padding: 20px 15px 20px 15px;

            .head-text {
              text-transform: capitalize;
              font-weight: 500;
              margin-bottom: 10px;
            }

            .bottom-text {
              font-size: 13px;
              font-weight: 300;
              color: #4a527b;
              margin-bottom: 20px;
            }

            .pages-links {
              a {
                display: block;
                font-size: 13px;
                color: #6a6a6a;
                margin: 5px 5px 10px 0;
                padding: 0;

                &:hover {
                  color: #34a6e3;
                }

                i {
                  margin: 0 5px 0 0;
                  font-size: 15px;
                }
              }


            }

            .about-marketer {
              padding-right: 50px;
            }

            .extra-pages {

            }
          }
        }

        .case-blog {
          position: relative;

          &:hover {
            .case-dropdown {
              display: block;
            }
          }

          &:hover {
            .blog-dropdown {
              display: block;
            }
          }

          .category {
            background-color: #fff;
            -webkit-border-radius: 0 0 5px 5px;
            -moz-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;

            a {
              display: block;
              width: 15vw;
              border-bottom: 1px solid #a0a0a0;
              padding: 15px 0px 15px 10px;
              margin: 0;
              font-weight: 400;
              font-size: 13px;
              color: #767c89;

              &:hover {
                color: #34a6e3;
              }
            }
          }
        }

        li {
          padding: 35px 0;
        }

        a {
          margin: 20px 15px;
          text-transform: capitalize;
          font-weight: 500;
          color: #2f362f;
          padding: 30px 0 30px 0;
          cursor: pointer;

          &:hover {
            color: #34a6e3;
          }

          i {
            margin-left: 3px;
          }
        }
      }
    }
  }
}
